.tarolo {
    margin: auto;
    width: 80%;
    max-width: 800px;
    padding: 0;
}

.fejlec {
    padding: 10px;
    background-image: url("images/hero.jpg");
    height: 100vh;
    background-size: cover;
    margin-bottom: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.menu li {
    background-color: rgb(231, 100, 39);
    padding: 15px;
    border: 1px solid rgb(231, 100, 39);
    border-radius: 100px;
    text-align: center;
}

.fejlec a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
}

#Macskaland {
    margin-top: 70px;
    margin-bottom: 15px;
}

#elsop {
    margin-bottom: 30px;
}

h1,h2,h3 {
    text-align: center;
    color:rgba(255, 255, 255, 0.808);
    font-weight: lighter;
}

p {
    text-align: center;
    color:rgba(255, 255, 255, 0.603);
    font-weight: lighter;
    font-size: 90%;
}

#keresem {
    text-align: center;
    margin-top: 25px;
}

#keresem a {
    background-color: rgb(231, 100, 39);
    padding: 15px;
    border: 1px solid rgb(231, 100, 39);
    border-radius: 100px;
    text-align: center;
}

.oldalak {
    padding: 10px;
    background-color: rgb(19, 19, 19);
}

.ctipus {
    width: 70%;
    margin: auto;
}

.ctipus ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.ctipus li {
    background-color: rgb(231, 100, 39);
    padding: 15px;
    border: 1px solid rgb(231, 100, 39);
    border-radius: 100px;
    text-align: center;
}

.ctipus a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
}

.harmadik_ul1 li {
    color:rgba(255, 255, 255, 0.603);
    font-weight: lighter;
    font-size: 90%;
}

.harmadik_ul2 {
    margin: 0;
    width: 100%;
}

.harmadik_ul2 ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    gap: 20px;
    padding-left: 0;
}


/* ----------------------------------------------------- */

.harmadikkepek {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 10px;
}

.macskkep1 {
    background: url("images/norveg\ macska.jpg") no-repeat;
    background-size: cover;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
}

.macskkep1 h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.macskkep2 {
    background: url("images/main\ coon.jpg") no-repeat;
    background-size: cover;
    height: 300px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
}

.macskkep2 h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.osszefog {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 15px;
}

.hatodik {
    padding: 20px;
    background-color: rgb(41, 46, 46);
    border: 1px solid gray;
    border-radius: 10px; 
}

.hatszoveg {
    text-align: left;
    color:rgba(255, 255, 255, 0.808);
    font-weight: lighter;
}

.hatgomb {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-top: 25px;
    align-items: center;
}

.hatgomb a {
    width: auto;
    margin: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(41, 46, 46);
    border: 2px solid rgb(231, 100, 39);
    border-radius: 100px;
    text-align: center;
}